@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4{
  @apply text-lg
  }
  p{
    @apply font-light
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Kumbh Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#hero{
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: url("https://barakahit.net/html/techit/assets/img/home-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/*paralax*/
#skill {
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0.5, 0.5),rgba(0, 0, 0.5, 0.5)), url('https://barakahit.net/html/techit/assets/img/banner-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*body intoduction*/
#intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-position: 50%; 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://barakahit.net/html/techit/assets/img/banner-bg.jpg');
  height: 40vh;
  background-repeat : no-repeat;
}

/* Responsiveness mobile */
@media only screen and (max-width: 768px) {
  #nav{
    position: sticky;
    top:0px;
    left:0px;
    right: 0px;
    z-index: 10;
    background:white;
  }
  #skill {
    height: 85vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

/*Scroll to top*/
.scroll-top {
  position: fixed;
  bottom: 2em;
  right: 4em;
  background-color: #5e87eb;
  color: white;
  padding : 10px;
  font-size : 20px
}

@media (max-width: 900px){
  .scroll-top {
    display: none;
  }
}